<form action="/search" method="get">
		<input type="text" id="term" name="term" class="keyword"  tabindex="1" />
		<button type="submit">search</button>
</form>
<table>
	<% for entry in @entries %>
		<tr>
				<td><%= highlight(entry.japanese, @highlight_term) %></td>
				<td><%= highlight(entry.english, @highlight_term) %></td>
		</tr>
	<% end %>
</table>
