<form action="/search" method="get">
		<input type="text" id="term" name="term" class="keyword"  tabindex="1" />
		<button type="submit">search</button>
</form>

<%= link_to 'Add new entry', new_list_entry_path(@id) %>

<table>
	<% for entry in @entries %>
		<tr>
				<td><%= entry.japanese %></td>
				<td><%= entry.english %></td>
		</tr>
	<% end %>
</table>
