<%= render partial: 'search' %>

<%= link_to 'Add new entry', new_list_entry_path(@id) %>

<table>
	<% for entry in @entries %>
		<tr>
				<td><%= entry.japanese %></td>
				<td><%= entry.english %></td>
		</tr>
	<% end %>
</table>
